SERVER_NAME={{ valheim.server_name }}
WORLD_NAME={{ valheim.world_name }}
SERVER_PASS={{ valheim.server_password }}
SERVER_PUBLIC={{ valheim.server_public }}
SERVER_PORT={{ valheim.base_port }}
TZ={{ valheim.timezone }}
